#включаем вывод ошибок php на экран
php_flag display_errors on

#отслеживаем все ошибки кроме предупреждений (Notice)
# - по умолчанию в php.ini    
php_value error_reporting "E_ALL & ~E_NOTICE"


RewriteEngine on
 
# не позволять httpd отдавать файлы, начинающиеся с точки (.htaccess, .svn, .git и прочие)
RedirectMatch 403 /\..*$
# если директория или файл существуют, использовать их напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# иначе отправлять запрос на файл index.php
RewriteRule . index.php


ErrorDocument 404 /404.php

# Rewrite to no www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
RewriteRule .* http://%1/$0 [L,R=301]

#Redirect 301 /old-page.html http://new-domain.ru/new-page.html



Redirect 301 /css/search5.jpg http://tarex.ru/
Redirect 301 /img/ec_bg.png http://tarex.ru/
Redirect 301 /fonts/glyphicons-halflings-regular.eot http://tarex.ru/
Redirect 301 /fonts/glyphicons-halflings-regular.woff http://tarex.ru/
Redirect 301 /fonts/glyphicons-halflings-regular.eot? http://tarex.ru/
Redirect 301 /css/AjaxLoader.gif http://tarex.ru/
Redirect 301 /img/foto/47 http://tarex.ru/
Redirect 301 /css/down.gif http://tarex.ru/
Redirect 301 /css/grabbing.png http://tarex.ru/
Redirect 301 /fonts/glyphicons-halflings-regular.svg http://tarex.ru/
Redirect 301 /fonts/glyphicons-halflings-regular.ttf http://tarex.ru/
Redirect 301 /css/up.gif http://tarex.ru/