/****mobile1****/

div.mob_wrapper
{
    min-height: 100%;
    max-width: 480px;
    margin: auto;
    font-family: Tahoma;
}
div.mob_header
{
    background: #e6e6e6;
    padding: 0 10px 12px;
}
div.mob_header_right
{
    float: right;
    width: 200px;
}
div.mob_header_left
{
    margin-right: 205px;
}
div.mob_header_right .tar_reg a
{
    padding-right: 0;
}
div.mob_header_right .tar_in a {
    color: #4d4d4d;
    text-transform: uppercase;
    padding-left: 5px;
}
div.mob_header_right .tar_lang_all {
    padding-top: 73px;
}
div.mob_header_left .tar_top_logo
{
    padding-bottom: 5px;
}
div.mob_header_left .tar_top_logo a img
{
    max-width: 100%;
}
div.mob_contacts
{
    clear: left;
}
div.mob_contacts .tar_ad
{
    line-height: 1.4;
    margin-bottom: 5px;
    font-size: 12px;
}
div.mob_contacts .tar_phone
{
    line-height: 1;
}

div.mob_redline
{
    background: #c40000;
}
div.mob_search
{
    padding: 12px 17px;
}
div.mob_search form
{
    overflow: hidden;
}
input.mob_form_text {
    border: none;
    margin-right: 100px;
    display: block;
    width: 335px;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    font-size: 17px;
}
input.mob_form_submit {
    background: none;
    border: none;
    font-family: "tahoma";
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    float: right;
    height: 30px;
    line-height: 30px;
}
div.mob_cartblock
{
    background: #e6e6e6;
    padding: 10px 10px 0;
    overflow: hidden;
}
div.mob_cartblock > div
{
    float: left;
    margin-bottom: 10px;
}
div.mob_cartblock > div.mob_vip
{
    margin-right: 13px;
    padding-top: 4px;

}
div.mob_cartblock > div.mob_catalog
{
    padding-top: 4px;
}
div.mob_cartblock > div.mob_basket
{
    float: right;
}
div.mob_cartblock > div.mob_vip img
{

}
div.mob_cartblock > div.mob_catalog img
{
}
div.mob_cartblock > div.mob_basket img
{
}

div.mob_pageblock
{
    padding-top: 10px;
}
div.mob_pageblock div.tar_category_vis
{
    margin-bottom: 20px;
}
div.mob_cat_block
{
    margin-left: 250px;
    background: #344756;
    margin-bottom: 20px;
    padding: 10px;
    height: 575px;
}
div.mob_cat_block .tar_cat_top_lists {
    padding-top: 10px;
    height: auto;
}
div.mob_cat_block .tar_cat_top_lists .tar_list_1 {
    float: none;
}
div.mob_cars
{
    margin-bottom: 15px;
    padding: 16px;
    background: #f0f3f5;
}
div.mob_cars_title
{
    color: #344756;
    font-family: "Tahoma";
    font-size: 12px;
    margin: 0 0 25px;
}
div.mob_cars_body
{
    overflow: hidden;
}
div.mob_cars_body ul
{
    overflow: hidden;
    float: left;
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
    width: 25%;
}
div.mob_cars_body ul li
{
    margin: 0;
    padding: 0;
    list-style: none;
}
div.mob_cars_body ul li a
{
    color: #344756;
    font-size: 12px;
    text-transform: uppercase;
}
div.mob_leaders_title
{
    text-align: center;
    font-size: 25px;
    color: #c40000;
    font-family: "tahoma";
    text-transform: uppercase;
    padding: 25px 0 15px 0;
}
div.mob_leaders_title:before,
div.mob_leaders_title:after
{
    content: "-";
}


#owl-demo-mob{
    margin-bottom: 10px;
    position: relative;
}
#owl-demo-mob .item{
}
#owl-demo-mob .item img{
    display: block;
    max-width: 100%;
    height: auto;
}
#owl-demo-mob .tar_sell_part
{
    float: none;
    width: 213px;
    margin: auto;
}
#owl-demo-mob .owl-pagination
{
    display: none;
}
#owl-demo-mob.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 0;
    font-size: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 22px;
    height: 40px;
    filter: Alpha(Opacity=90);/*IE7 fix*/
    opacity: 0.9;
    position: absolute;
    top: 80px;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
#owl-demo-mob.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}
#owl-demo-mob.owl-theme .owl-controls .owl-buttons div.owl-prev{
    background: url("../images/tar_prev.png") center center no-repeat;
    left: 0;
}
#owl-demo-mob.owl-theme .owl-controls .owl-buttons div.owl-next{
    background: url("../images/tar_next.png") center center no-repeat;
    right: 0;
}


#owl-demo-mob1{
    margin-bottom: 10px;
    position: relative;
}
#owl-demo-mob1 .item{
}
#owl-demo-mob1 .item img{
    display: block;
    max-width: 100%;
    height: auto;
}
#owl-demo-mob1 .tar_news_part
{
    float: none;
    width: 212px;
    margin: auto;
    padding: 0 0 40px;
}
#owl-demo-mob1 .owl-pagination
{
    display: none;
}
#owl-demo-mob1.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 0;
    font-size: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 22px;
    height: 40px;
    filter: Alpha(Opacity=90);/*IE7 fix*/
    opacity: 0.9;
    position: absolute;
    top: 80px;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
#owl-demo-mob1.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}
#owl-demo-mob1.owl-theme .owl-controls .owl-buttons div.owl-prev{
    background: url("../images/tar_prev.png") center center no-repeat;
    left: 0;
}
#owl-demo-mob1.owl-theme .owl-controls .owl-buttons div.owl-next{
    background: url("../images/tar_next.png") center center no-repeat;
    right: 0;
}
footer
{
    background: #333;
    padding: 15px 0 0;
}
div.mob_foo_pic
{
    text-align: center;
    padding-bottom: 16px;
}
div.mob_foo_soc
{
}
div.mob_foo_soc .tar_foot_social {
    float: none;
    padding-top: 0;
    margin: auto;
    width: 94px;
}

@media screen and (max-width: 479px)
{
    div.mob_wrapper
    {
        max-width: 320px;
        width: 320px;
        margin: auto;
    }
    div.mob_cars_body ul {
        width: 50%;
    }
    div.mob_pageblock div.tar_category_vis {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    div.mob_cat_block {
        margin-left: 0;
        height: auto;
    }
    input.mob_form_text {
        width: 180px;
    }
    div.mob_header_right {
        float: none;
        margin: auto;
    }
    div.mob_header_right .tar_lang_all {
        padding-top: 33px;
    }
    div.mob_header_left {
        margin-right: 0;
    }
}


/****mobile2****/
div.mob_component
{
    position: relative;
}

div.mob_pathway
{
    margin-bottom: 5px;

}
div.mob_pathway ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
div.mob_pathway ul li
{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font-size: 12px;
    content: #808080;
}
div.mob_pathway ul li:before
{
    content: "»";
    display: inline-block;
    padding: 0 4px;
    font-size: 12px;
    color: #808080;
}
div.mob_pathway ul li:first-child:before
{
    display: none;
}
div.mob_pathway ul li a
{
    font-size: 12px;
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
}
div.mob_pathway ul li:first-child a
{
    color: #808080;
    text-transform: none;
}
div.mob_pathway ul li a:hover
{
    text-decoration: underline;
}

div.mob_caption h1
{
    margin: 0 0 10px;
    font-size: 25px;
    color: #808080;
}
div.mob_operation
{
    background: #eeeeee;
    padding: 8px;
    margin-bottom: 40px;
}
form.mob_operation_form
{}
div.mof_top
{

}
div.mof_top_block
{
    box-sizing: border-box;
    width: 33.3333333%;
    padding-right: 7px;
    float: left;
    padding-bottom: 5px;
}
div.mof_top_block_text
{
    font-size: 12px;
    content: #333;
}
input.mof_input_text
{
    display: block;
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    border: none;
}
select.mof_select_text
{
    display: block;
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: none;
}
div.mof_middle input
{
    display: block;
    height: 56px;
    line-height: 56px;
    background: #c40000;
    color: #fff;
    font-size: 25px;
    margin-bottom: 5px;
    text-transform: uppercase;
    border: none;
    width: 100%;
    cursor: pointer;
}
div.mof_bottom_line
{
    overflow: hidden;
}
div.mof_bottom_line:nth-child(even)
{
    background: #e6e6e6;
}
div.mof_bottom_col
{
    float: left;
    width: 33.3333333%;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    padding-left: 24px;
}
div.mof_bottom_col span
{
    display: inline-block;
    text-transform: uppercase;
    padding-left: 7px;
    font-size: 17px;
    color: #4d4d4d;
}

div.mob_table_block
{
    margin-bottom: 10px;
}
table.mob_table
{}
table.mob_table tr:first-child
{
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
table.mob_table tr td
{
    padding: 4px;
}
table.mob_table tr
{
    border-bottom: 1px solid #e6e6e6;
}
table.mob_table tr td:nth-child(odd)
{
    background: #f6f6f6;
}
table.mob_table tr td
{
    text-align: center;
    vertical-align: middle;
}
table.mob_table tr td:first-child
{
    text-align: left;
    max-width: 160px;
}
table.mob_table tr td:nth-child(2)
{
    max-width: 90px;
}
table.mob_table tr td:last-child img
{
    max-width: 36px;
}
table.mob_table tr td
{
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}
table.mob_table tr:first-child td
{
    text-transform: none;
    color: #1a1a1a;
    font-size: 17px;
    font-family: Arial;
}

select.table_select
{
    display: block;
    background: #fff;
    box-sizing: border-box;
    width: 120px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #b3b3b3;
}



@media screen and (max-width: 479px)
{

    div.mof_bottom_col span
    {
        font-size: 11px;
    }
    table.mob_table tr:first-child td
    {
        font-size: 12px;
    }
    select.table_select
    {
        width: auto;
    }
}